#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#k13x {
  max-width: 500px;
  max-height: 500px;
}

.d-inline {
  display: inline;
}