#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#k13x {
  max-width: 500px;
  max-height: 500px;
  cursor: crosshair;
}

.d-inline {
  display: inline;
}

.zoom-top-border,
.zoom-left-border,
.zoom-right-border,
.zoom-bottom-border {
  position: absolute;
  z-index: 10;
  background-color: #66ff99;
  cursor: crosshair;
}

.zoom-top-border,
.zoom-bottom-border {
  height: 2px;
}

.zoom-left-border,
.zoom-right-border {
  width: 2px;
}

.image-picker {
  position: fixed;
  top: 10px;
  left: 10px;
}

.image-picker>div:first-child {
  position: relative;
}

.zoom-container {
  overflow: hidden;
}